[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec=0

[Service]
ExecStartPre=-/usr/local/bin/auth-thu -c /etc/goauthing.json -D deauth
ExecStartPre=-/usr/local/bin/auth-thu -c /etc/goauthing.json -D auth
ExecStartPre=-/usr/local/bin/auth-thu -c /etc/goauthing.json -D login
ExecStartPre=-sleep 3
ExecStart=/usr/local/bin/auth-thu -c /etc/goauthing.json -D online
User=nobody
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
