[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec=0

[Service]
# default config is in ~/.auth-thu
ExecStartPre=-/usr/local/bin/auth-thu -D deauth
ExecStartPre=-/usr/local/bin/auth-thu -D auth
ExecStartPre=-/usr/local/bin/auth-thu -D login
ExecStart=/usr/local/bin/auth-thu -D online
User=%i
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
