[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec=0

[Service]
# default config is in ~/.auth-thu
ExecStartPre=-/usr/local/bin/auth-thu -D deauth -6
ExecStartPre=-/usr/local/bin/auth-thu -D auth -6
ExecStartPre=-sleep 3
ExecStart=/usr/local/bin/auth-thu -D online -6
User=%i
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
