[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
# default config is in ~/.auth-thu
ExecStartPre=-/usr/local/bin/auth-thu -D deauth
ExecStartPre=-/usr/local/bin/auth-thu -D auth
ExecStart=/usr/local/bin/auth-thu -D online
StandardOutput=journal
User=%i
Restart=always

[Install]
WantedBy = multi-user.target
