[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn

[Service]
# default config is in ~/.auth-thu
ExecStartPre=-/usr/local/bin/auth-thu -D auth
ExecStartPre=-/usr/local/bin/auth-thu -D login
ExecStart=/usr/local/bin/auth-thu -D online
StandardOutput=journal
User=%i
Restart=always

[Install]
WantedBy = multi-user.target
