[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn

[Service]
# default config is in ~/.auth-thu
ExecStart=/usr/local/bin/auth-thu -D
Type=oneshot
StandardOutput=journal
User=%i


[Install]
WantedBy = multi-user.target

